<div class="container">
  <div class="row task-manager-container">
    <div class="col-12 col-md-4 sidebar">
      <div>
        <h3 class="title">LISTS</h3>
        <div class="list-menu">
          <a
            class="list-menu-item"
            *ngFor="let list of lists"
            [routerLink]="['/lists', list.title]"
            [routerLinkActive]="['is-active']"
          >
            <div class="list-title">{{ list.title }}</div>
          </a>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-primary new-list-btn"
        (click)="createNewLists()"
      >
        + New List
      </button>
    </div>
    <div class="col-12 col-md-8 task-list-container">
      <div>
        <div class="task-header">
          <h3 class="title">TASKS</h3>

          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <fa-icon [icon]="listSettingIcon"></fa-icon>
            </button>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownMenuButton"
            >
              <button
                class="dropdown-item"
                (click)="editList()"
                [disabled]="disabled"
              >
                Edit the list
              </button>
              <button
                class="dropdown-item"
                (click)="deleteList()"
                [disabled]="disabled"
              >
                Delete the list
              </button>
              <button
                class="dropdown-item"
                (click)="deleteWholeList()"
                [disabled]="disabled"
              >
                Delete the whole list
              </button>
              <button class="dropdown-item" (click)="signOut()">
                Sign Out
              </button>
            </div>
          </div>
        </div>

        <div class="task-list">
          <div
            class="task"
            *ngFor="let task of tasks"
            (click)="taskCompletion(task.title)"
          >
            <div class="task-title" [ngClass]="{ complete: task.completed }">
              {{ task.title }}
            </div>
            <div class="ml-2">
              <button
                class="btn btn-warning mr-3"
                (click)="editTask(task.title)"
              >
                <fa-icon [icon]="taskEditIcon"></fa-icon>
              </button>

              <!-- Force next columns to break to new line for smaller screen -->
              <div class="w-100 d-md-none d-block hidden"><br /></div>

              <button class="btn btn-danger" (click)="deleteTask(task.title)">
                <fa-icon [icon]="taskDeleteIcon"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button
        class="btn btn-info rounded-circle btn-new-task"
        (click)="createNewTasks()"
        [disabled]="disabled"
      >
        +
      </button>
    </div>
  </div>
</div>
